body {
    font-family: Arial;
    background: #1e2a78;
    color: white;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.left,
.right {
    background: white;
    color: black;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 8px;
}

button {
    padding: 6px 10px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
}

#history button {
    margin: 3px;
}